<div class="container-fluid">
  <div>
    <div class="jumbotron">
      <h1 class="display-4">Teachers</h1>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#teacherModal" (click)="f.resetForm()">Add teacher</button>
      <hr class="my-4">

      <table *ngIf="teachers.length > 0" class="table table-dark">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Joined on</th>
            <th scope="col">School</th>
            <th scope="col">Specialized fields</th>
            <th scope="col">Is Active</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teachers">
            <th scope="row">{{ teacher.id }}</th>
            <td>{{ teacher.name}}</td>
            <td>{{ teacher.joinDate | date: "longDate"}}</td>
            <td>{{ teacher.school }}</td>
            <td>{{ teacher.specialistFields.join(', ') }}</td>
            <td>{{ teacher.isActive }}</td>
          </tr>
        </tbody>
      </table>

      <div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="teacherModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="teacherModalLabel">New teacher</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeNewTeacherModal>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #f="ngForm" (submit)="onSubmit(f)">
                  <div class="form-group">
                    <label class="font-weight-bold" for="name">Full name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter full name" required ngModel>
                  </div>
                  <div class="form-group">
                    <label for="school" class="font-weight-bold">School</label>
                    <select class="form-control" id="school" name="school" required ngModel>
                      <option id="schoolTallinn" value="schoolTallinn">International school of Tallinn</option>
                      <option id="schoolTartu" value="schoolTartu">International school of Tartu</option>
                      <option id="schoolParnu" value="schoolParnu">International school of Parnu</option>
                      <option id="schoolViljandi" value="schoolViljandi">International school of Viljandi</option>
                      <option id="schoolSaremaa" value="schoolSaremaa">International school of Saremaa</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="font-weight-bold" for="fields">Speciliazed fields</label>
                    <select multiple class="form-control" id="fields" name="fields" required ngModel>
                      <option id="mathematics" value="mathematics">Mathematics</option>
                      <option id="social" value="social">Social science</option>
                      <option id="lingustics" value="lingustics">Lingustic studies</option>
                      <option id="zoology" value="zoology">Zoology</option>
                      <option id="chemistry" value="chemistry">Chemistry</option>
                      <option id="geography" value="geography">Geography</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="font-weight-bold" for="joindate">Join date</label>
                    <div class="input-group">
                      <input class="form-control" id="joindate" placeholder="mm-dd-yyyy"
                             name="joindate" ngModel ngbDatepicker #d="ngbDatepicker" />
                      <div class="input-group-append" >
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="isactive" name="isactive" ngModel>
                    <label class="form-check-label font-weight-bold" for="isactive">Is Active</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
