<div class="container-fluid">
  <div>
    <div class="jumbotron">
      <h1 class="display-4">Students</h1>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#studentModal" (click)="f.resetForm()">Add student</button>
      <hr class="my-4">

      <table *ngIf="students.length > 0" class="table table-dark">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Joined on</th>
          <th scope="col">School</th>
          <th scope="col">Grade</th>
          <th scope="col">Is Active</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students">
          <th scope="row">{{ student.id }}</th>
          <td>{{ student.name}}</td>
          <td>{{ student.joinDate | date: "longDate"}}</td>
          <td>{{ student.school }}</td>
          <td>{{ student.grade}}</td>
          <td>{{ student.isActive }}</td>
        </tr>
        </tbody>
      </table>

      <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="studentModalLabel">New student</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeNewStudentModal>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #f="ngForm" (submit)="onSubmit(f)">
                <div class="form-group">
                  <label class="font-weight-bold" for="name">Full name</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Enter full name" required ngModel>
                </div>
                <div class="form-group">
                  <label for="school" class="font-weight-bold">School</label>
                  <select class="form-control" id="school" name="school" required ngModel>
                    <option id="schoolTallinn" value="schoolTallinn">International school of Tallinn</option>
                    <option id="schoolTartu" value="schoolTartu">International school of Tartu</option>
                    <option id="schoolParnu" value="schoolParnu">International school of Parnu</option>
                    <option id="schoolViljandi" value="schoolViljandi">International school of Viljandi</option>
                    <option id="schoolSaremaa" value="schoolSaremaa">International school of Saremaa</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="font-weight-bold" for="grade">Grade</label>
                  <select class="form-control" id="grade" name="grade" required ngModel>
                    <option id="1" value="1">1</option>
                    <option id="2" value="2">2</option>
                    <option id="3" value="3">3</option>
                    <option id="4" value="4">4</option>
                    <option id="5" value="5">5</option>
                    <option id="6" value="6">6</option>
                    <option id="7" value="7">7</option>
                    <option id="8" value="8">8</option>
                    <option id="9" value="9">9</option>
                    <option id="10" value="10">10</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="font-weight-bold" for="joindate">Join date</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="mm-dd-yyyy"
                           name="joindate" id="joindate" ngModel ngbDatepicker #d="ngbDatepicker" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="isactive" name="isactive" ngModel>
                  <label class="form-check-label font-weight-bold" for="isactive">Is Active</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
